version: "3.8"
services:
  ollama:
    image: ollama/ollama
    volumes:
      - ollama_data:/root/.ollama
    ports:
      - "11434:11434"
    environment:
      - OLLAMA_KEEP_ALIVE=24h
    restart: always

  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "5000:5000"
      - "3000:3000"
    depends_on:
      - ollama
    environment:
      OLLAMA_HOST: ${OLLAMA_HOST:-http://ollama:11434}
      ENVIRONMENT: development
      NODE_ENV: development
    volumes:
      - ./content:/app/content
      - ./backend:/app/backend
      - ./frontend:/app/frontend
      - /app/frontend/node_modules
      - /app/frontend/build
    restart: unless-stopped

volumes:
  ollama_data:
